@import url('https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');

h3 {
  font-family: "Bungee Inline", sans-serif;
}

h1 {
  font-family: 'Monoton', sans-serif;
  font-size: 45px;
  color: rgb(21, 155, 9);
  border: 4px solid #fc03b6;
  border-radius: 15px;
   /* text-shadow:
       3px 3px 0 rgb(235, 25, 186);
  background-color: white;
  box-shadow: 5px 5px 15px gray;  */
}


body{
  background-color: rgba(211, 211, 211, 0.11);
  background-image: url('https://media3.giphy.com/media/1lvotGQwhzi6O0gQtV/giphy.gif?cid=790b761111a7b730431dfaf63bbf78547d17fd079afce0f4&rid=giphy.gif');
  min-height: 100vh;
  padding:0;
  margin:0;
}

.App{
  padding: 2rem;
  background-color:rgba(255, 255, 255, 0.822);
}
h1 {
  padding: 2rem;
  text-align: center;
}
.container {
  display: flex;
  padding: 2rem;
  flex-wrap: wrap;
  justify-content: space-around;
  
 
}

.card {
  box-shadow: 5px 5px 15px gray; 
  border: 2px solid white;
  border-radius: 10px;
  padding: 1rem;
  margin-left: 10px;
  margin-bottom: 15px;
  width: 250px;
  height: 370px;
  float: left;
  background-color: white;
}
ul {
  list-style: none;
}
.card img {

}

#logo {
    
}

